blessings==1.7
certifi==2023.5.7
charset-normalizer==3.1.0
contourpy==1.0.7
cycler==0.11.0
docutils==0.20.1
ee==0.2
fonttools==4.39.4
future==0.18.3
idna==3.4
iso8601==1.1.0
Kivy==2.2.0
Kivy-Garden==0.1.5
kivy-garden.graph @ https://github.com/kivy-garden/graph/archive/master.zip
kivy-garden.mapview==1.0.6
kivymd==1.1.1
kiwisolver==1.4.4
mapview==1.0.6
matplotlib==3.7.1
numpy==1.24.3
packaging==23.1
pandas==2.0.2
Pillow==9.5.0
plyer==2.1.0
Pygments==2.15.1
pyparsing==3.0.9
pyserial==3.5
python-dateutil==2.8.2
pytz==2023.3
PyYAML==6.0
requests==2.31.0
serial==0.0.97
six==1.16.0
tzdata==2023.3
urllib3==2.0.2
